body {
    margin: 20px;
    font-family: Arial;
    font-size: 12px;
}

.container {
    border: 1px solid black;
    padding: 30px;
}

.container div {
    /* margin: 15px; */
    border: 1px dashed black;
}

.container p {
    border: 1px dashed black;
    background-color: #f1bade;
}

.box1 {
    background-color: #a9d6ff;
    padding: 10px;
}

.box2 {
    background-color: #dddddd;
    padding: 20px;
    
    position: relative; /*static定位时，定位值无效；改为 relative，盒子产生位移*/
    left: 40px;
    top: 25px;

}

.box3 {
    background-color: #ffffaa;
    padding: 30px;
}