html {
    font-size: 16px;
}

.container {
    width: 62.5rem;  /* 62.5×16=1000px */
    margin: 0 auto;
}

.head {
    width: 62.5rem;
    height: 6rem;
    background: #EAEAEA;
    margin-bottom: 10px;    /*底部外边距，与下面内容留出10px的空白*/
}

.left {
    width: 20rem;
    height: 30rem;
    float: left;
    background: #CFCFCF;
}

.right {
    width: 40rem;
    height: 30rem;
    float: right;
    background: #e8f3ff;
}
/*.clearBoth很重要，仅用于清除浮动影响，无任何实质内容*/
.clearBoth {
    border: 0;
    margin: 0;
    padding: 0;
    clear: both;   /*清除浮动影响*/
}
.foot {
    width: 62.5rem;
    height: 100px;
    background: #cccccc;
    margin-top: 10px;   /*顶部外边距，与上面内容留出10px的空白*/
}